/* 9to5warriors styles */

/*********************************************
Desktop Styles
**********************************************/
.uk-logo img{
    position: relative;
    height: 100%;
    width: auto;
    max-height: 150px;
}
.hide{
    display: none;
}
.card{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .25s all ease-in-out;
    transition: .25s all ease-in-out;
;}
.card:hover{
    -webkit-transform: scale(1.1);
    transform:scale(1.1);
    -webkit-transition: .25s all ease-in-out;
    transition: .25s all ease-in-out;
}
.white-overlay{
    opacity: .5;
}
.section{
}
.blue-gradient-down{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(81,178,229,1) 100%);
}
