/* 
Title: 9to5warriors Stylesheet 
Description: Developed for 9 to 5 Warriors
Author: Graywell Design
Author URL: https://www.graywelldesign.com
Version: 1.0
Date: 10/21/2018
** All Rights Reserved **
*/

/*********************************************
Desktop Styles
- branding
- basic elements
- header
- navigation
- page content
- footer

COLORS:
light-blue: #51b2e5;
purple: #422364;
**********************************************/

/** Branding **/
.uk-logo img{
    position: relative;
    height: 100%;
    width: auto;
    max-height: 150px;
}

/*********************************************
BASIC ELEMENTS FOR
**********************************************/
html{
    width: 100%;
}
.hide{
    display: none;
}
.white-overlay{
    background-color: rgba(255,255,255,.9);
}
.gray-overlay{
    background-color: rgba(0,0,0,.25);
}
.card-border{
    border:3px solid #090909;
}
.uppercase{
    text-transform: uppercase;
}
.width-full{
    width: 100%;
}
.black-text{
    color: #000000;
}
.white-text{
    color: #ffffff;
}
.z-negative{
    z-index: -1;
}
.nav-link:hover{
    color:#51b2e5;
}
.blue-gradient-down{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(81,178,229,1) 100%);
}
.character-tabs li a:hover{
    color: #51b2e5;
}
.character-tabs{
    background-color: #ffffff;
    border-bottom: none!important;
    top: -40px;
}
.padding-right{
    padding-right: 50px;
}
.padding-left{
    padding-left: 50px;
}
.block{
    display: block!important;
}
.clear{
    clear: both;
}
/************************** FOOTER ****************************/
.footer{
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #422364;
}
.footer .social{
    text-align: center;
}
.footer .social .uk-icon{
    color: #fafafa;
    margin-right: 15px;

}
.footer .social .uk-icon:hover{
    color: #51b2e5;
}
.footer .copyright{
    text-align: center;
    margin-top: 10px;
}
.footer .credits{
    text-align: center;
    margin-top: 10px;
}
.section-title{
    font-size: 5vw;
    color: #422364;
    margin-top: 70px;
}
.nav-link, .section-title{
    font-size: 2.5em;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    /*margin: 0px 25px;*/
    margin-right: 15px;
}
/******************** HEADER ********************/
.down-bar{
    width: 100%;
    background-color: #422364;
    padding: 10px auto;
    height: 50px;
    text-align: center;
    margin: auto;
    padding: auto;

}
.header-section{
    width: 100%;
    position: relative;
}
.header_bg{
    width: 100%;
    height: 100%;
    max-height: 100vh;
}
.header_bg img{
    z-index: -10;
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 100vh;
}
#header-video{
    min-width: 100%;
    min-height: 100%;
    position: relative;
}
.jw-header-video{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%!important;
    min-width: 100%;
    min-height: 100%;
    background-image: url('images/story-wide.jpg');
    background-position: center center;
    background-size: cover;
}
.jw-header-video video{
    z-index: 1;
    
}
/******************** NAVIGATION ********************/
.mobile-nav{
    display: none;
}

.uk-offcanvas-bar a{
    font-size: 2em;
}
.toggle{
    font-size: 35px;
    padding-top: 5px;
    color: #ffffff;
}
.uk-offcanvas-bar{
    width: 100vw;
    background-color: #422364;
    color: #ffffff;

}
/** PAGE CONTENT **/
.nav-link, .section-title{
    font-size: 2.5em;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    /*margin: 0px 25px;*/
    margin-right: 15px;
}
.section-title{
    font-size: 5vw;
    color: #422364;
}

    /************************************************ 
    HEADER SECTION
    - background image
    - background video
    - header navigation
    - header cards
    ************************************************/
    /** Background Image **/
    #header-video{
        min-width: 100%;
        min-height: calc(100vh - 50px);

    }


    /************************* Navigation ***************************/
    .margin-auto{
        margin: auto;
    }
    .nav-line{
        border-bottom: 10px solid #51b2e5;;
    }
    .email-link{
        color: #ffffff;
        font-weight: 2em;

    }
    .email-link:hover{
        color: #51b2e5;
    }
    .video-controls{
        margin-left: 5%;
        z-index: 1;
        padding: 15px;
    }
    .video-button{
        color: #ffffff;
        font-size: 1.2em;
        cursor: pointer;
        margin-right: 10px;
    }






    .section .uk-sticky-fixed{
        left: 3.5%!important;
    }
    .character-tabs li{

    }
    .mobile-characters{
        display: none;
    }



     .uk-slidenav, .uk-slidenav:hover, .uk-light .uk-slidenav:focus, .uk-light .uk-slidenav:hover{
         color: #ffffff!important;
     }
     .uk-slidenav{
         width: 15px!important;
         height: 14px!important;
         margin:  10px!important;
         padding: 10px!important;
     }
     .mobile-nav-logo{
         max-width: 100px;
         margin: auto;
     }
    
     .mobile-nav-toggle{
         color: #ffffff;
         width: 45%;
         padding-right: 5%;
         text-align: right;
         display: none;
     }
    /** Footer **/

    /************************************************
   MEDIA QUERY - IPAD
    ************************************************/
    @media all 
    and (min-width: 768px) 
    and (max-width: 1024px) 
    /*and (-webkit-min-device-pixel-ratio: 1)*/ {
    #header-video{
        min-width: 100%;
        min-height: 100%;
        position: relative;
        padding-top: 71%;
    }
    .nav-link{
        font-size: 1em;
    }
    .uk-logo img{
        max-height: 95px;
    }
    .mobile-characters{
        display: none;
    }
    
}    
    
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media all 
  and (min-width: 320px) 
  and (max-width: 736px) 
  and (orientation: portrait)
   { 
    .logo{
        max-width: 50%;

    }   
    .mobile-nav-toggle{
        display: block;
    }
    .uk-sticky-fixed .mobile-nav-toggle .uk-icon{
       
    }
    #header-video{
        padding-top: 60vh;
    }
    .uk-navbar-nav{
        display: none;
    }
    .uk-logo img{
        width: 80%;
        max-height: unset;
        height: auto;
    }
    .video-controls{
        /*display: none;*/
    }
    .header-section .jw-controls{
        display: none;
    }
    .section{
        padding-left: 5%;
        padding-right: 5%;
    }
    .uk-padding-large, .uk-padding{
        padding-left: 0px;
        padding-right: 0px;
    }
    .mobile-characters{
        display: block;
    }
    .desktop-characters{
        display: none;
    }
    .mobile-characters .uk-card-body{
        padding: 25px 2px;
    }
    .mobile-characters .uk-card-default{
        box-shadow: none;
    }
    .mobile-reverse{
        flex-direction: column-reverse;
    }
    .padding-left, .padding-right{
        padding: unset;
    }

}

/************** Iphone plus landscape ***************/
/* Landscape */
@media all 
  /*and (min-width: 414px) */
  and (max-width: 736px) 
  and (orientation: landscape) { 
    .nav-link{
        font-size: .8em;
    }
    .uk-logo img{
        max-height: 95px;
    }
    .mobile-characters{
        display: block;
    }
    .desktop-characters{
        display: none;
    }
    .mobile-reverse{
        flex-direction: column-reverse;
    }


}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media all 
  /*and (min-width: 375px) */
  and (max-width: 667px) 
  {
      
    .padding-right, .padding-left{
        padding-right: unset;
        padding-left: unset;
    }
    .mobile-characters{
        display: block;
    }
    .desktop-characters{
        display: none;
    }

}

/* Portrait */
@media all 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (orientation: portrait) { 
    .padding-right, .padding-left{
        padding-right: unset;
        padding-left: unset;
    }
    .mobile-characters{
        display: block;
    }
    .desktop-characters{
        display: none;
    }

}

/* Landscape */
@media all 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (orientation: landscape) { 
    .padding-right, .padding-left{
        padding-right: unset;
        padding-left: unset;
    }
    .mobile-characters{
        display: block;
    }
    .desktop-characters{
        display: none;
    }

}


/* ----------- iPhone X ----------- */

/* iPhone X Portrait */
@media all 
  /*and (min-width: 375px) */
  and (max-width: 812px) 
  and (orientation: portrait) { 
      .mobile-nav{
          display: inline;

      }
      .desktop-nav{
          display: none;
      }
    #header-video{
        padding-top: 68vh;
    }
    .section-title{
        font-size: 8vw;
    }
    .mobile-reverse{
        flex-direction: column-reverse;
    }
    .mobile-characters{
        display: block;
    }
    .desktop-characters{
        display: none;
    }
    .uk-sticky-fixed .mobile-nav-toggle .uk-icon svg{
    }



}
/* Iphone X Landscape */
@media all 
 /* and (min-width: 375px) */
  and (max-width: 812px) 
  and (orientation: landscape) { 
    #header-video{
        padding-top: 0vh;
    }
    .mobile-reverse{
        flex-direction: column-reverse;
    }
    .mobile-characters{
        display: block;
    }
    .desktop-characters{
        display: none;
    }


}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media all 
  /*and (min-width: 320px) */
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-link{
        display: none;
    }

}

/* Portrait */
@media all 
  /*and (min-width: 320px) */
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media all 
  /*and (min-width: 320px) */
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}




